* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: lavender;
}

#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#colors-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75em;
  margin: 1.5rem;
}

.color-btn {
  padding: 0.5em 1em;
  border-radius: 50rem;
  color: azure;
}

.color-btn:hover {
  cursor: pointer;
}
